.carousel {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-slide.active {
    display: block;
    opacity: 1;
  }

 
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0.9;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .animate-slideOutLeft {
    animation: slideOutLeft 1s ease-in-out forwards;
  }
  
  .animate-slideInFromRight {
    animation: slideInFromRight 1s ease-in-out forwards;
  }
  

