<div
  class="w-[350px] md:w-[550px] lg:w-[650px] mx-auto flex flex-col items-center mt-20  px-6 py-8 md:px-12 lg:px-24 lg:py-12 bg-white border-[1px] border-[#000000]/5 rounded-xl shadow-lg"
>
  <div
    class="rounded-full h-[60px] w-[60px] flex items-center justify-center mb-6"
  >
    <img src="../../assets/check_icon.svg" alt="Login Icon" class="h-[50px] w-[50px]" />
  </div>
  <div
    class="text-[24px] md:text-[28px] lg:text-[34px] text-[#000000]/85 font-roboto font-medium text-center"
  >
    Payment successful!
  </div>

  <p class="mt-6 max-w-[450px] text-center text-[#000000]/45">
    Your personalised report is being created. It will be ready for download in
    5 minutes.
  </p>
  <p class="mt-6 max-w-[450px] text-center text-[14px] md:text-[16px] text-[#000000]/45">
    We’ll also send an email with a link to download your report.
  </p>

  <div class="flex flex-col items-center space-y-4 mt-6 md:mt-6 md:space-y-0 md:space-x-5 md:flex-row w-full">
    <button
      (click)="downloadReport()"
      [disabled]="isReportBuilding || isFileDownloading"
      class="disabled:opacity-50 disabled:cursor-not-allowed  w-full bg-[#2A9D8F] text-white font-normal py-3 rounded-lg hover:bg-[#2A9D8F]/90 transition duration-300"
    >
    {{ isFileDownloading ? 'Downloading...' : 'Download My Report' }}
    </button>
    <button
      (click)="handleRestartProcess()"
      class=" w-full bg-[#ffffff] border-[1px] border-[#2A9D8F] text-[#2A9D8F] font-medium py-3 rounded-lg transition duration-300"
    >
      Generate New Report
    </button>
  </div>
</div>
