<div class="font-roboto flex flex-col items-center min-h-screen bg-zinc-900">
  <div class="w-full h-screen shadow-lg flex">
    <!-- Left Section -->
    <div class="w-full xl:w-1/2 h-full flex flex-col justify-center bg-white">
      <div
        class="flex flex-col items-center  w-full px-6 md:max-w-[600px] lg:max-w-[700px] xl:max-w-[400px] xl:px-0 xl:w-[400px]  mx-auto"
      >
        <div class="flex items-center mb-2 md:mb-6 lg:mb-10 xl:mb-5">
          <img
            src="../../assets/ph_logo_dark.svg"
            alt="Pharmingo Logo"
            class="h-9 md:h-12 lg:h-16 xl:h-10"
          />
        </div>
        <h2 class="text-[22px]  md:text-[40px] lg:text-5xl xl:text-2xl font-bold mb-6 md:mb-10 xl:mb-10">Login</h2>
        <form (ngSubmit)="sendOtp()" class="w-full space-y-6 md:space-y-8 lg:space-y-10 xl:space-y-6">
          <div class="">
            <div class="relative">
              <label
                for="email"
                class="block absolute text-[14px] lg:text-[18px] -top-[12px] xl:-top-[14px] left-[14px]  xl:text-[16px]  px-2 text-black bg-white font-medium"
                >Email Id</label
              >

              <div class="absolute inset-y-0 left-[20px] flex items-center">
                <img
                  src="../../assets/user_icon.svg"
                  alt="User Icon"
                  class="h-[20px]"
                />
              </div>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                placeholder="Enter your Email"
                class="w-full pl-[50px] pr-4 py-3 text-[14px] lg:text-[18px] lg:py-5 xl:py-[14px] xl:text-[16px] border border-gray-300 rounded-[10px] text-black placeholder-black/40 focus:outline-none focus:ring-2 focus:ring-[#2A9D8F]"
              />
            </div>
          </div>

          <div class="">
            <div class="relative">
              <label
                for="password"
                class="block absolute text-[14px] lg:text-[18px] -top-[12px] xl:-top-[14px] left-[14px]  xl:text-[16px]  px-2 text-black bg-white font-medium"
                >Password</label
              >
              <div class="absolute inset-y-0 left-[20px] flex items-center">
                <img
                  src="../../assets/lock_icon.svg"
                  alt="Lock Icon"
                  class="h-[20px]"
                />
              </div>
              <input
                type="{{ passwordType }}"
                id="password"
                [(ngModel)]="password"
                name="password"
                placeholder="Enter your Password"
                class="w-full pl-[50px] pr-4 py-3 text-[14px] lg:text-[18px] lg:py-5 xl:py-[14px] xl:text-[16px] border border-gray-300 rounded-[10px] text-black placeholder-black/40 focus:outline-none focus:ring-2 focus:ring-[#2A9D8F]"
              />
              <div
                (click)="showPassword()"
                class="cursor-pointer absolute inset-y-0 right-3 flex items-center"
              >
                <img
                  src="../../assets/eye_icon.svg"
                  alt="Show Password"
                  class="h-5"
                />
              </div>
            </div>
          </div>
          <div class="flex flex-col pt-6 md:pt-0 space-y-3 md:space-y-6 xl:space-y-6">
            <div class="flex items-center justify-between">
              <label class="flex items-center">
                <input
                  type="checkbox"
                  class="h-4 w-4 md:h-5 md:w-5 accent-[#2A9D8F] rounded"
                />
                <span class="ml-2 text-black text-[14px] md:text-[16px]">Remember me</span>
              </label>
              <div
                (click)="openForgotPasswordModal()"
                class="cursor-pointer text-[#2A9D8F] text-[14px] md:text-[16px] hover:underline"
              >
                Forgot your password?
              </div>
            </div>
            <button
              [disabled]="isLoginFormSubmit"
              type="submit"
              class="w-full disabled:opacity-50 text-[18px] lg:text-[30px] xl:text-[20px] py-2 xl:py-2.5  disabled:cursor-not-allowe4 bg-[#2A9D8F] text-white font-normal rounded-lg hover:bg-[#2A9D8F]/90 transition duration-300"
            >
              Login Now
            </button>
            <p class="text-center xl:mt-4">
              Don’t have an account?
              <a
                routerLink="/signup"
                class="text-[#2A9D8F] cursor-pointer hover:underline"
                >Signup now</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>

    <!-- Right Section -->
    <div
      class="hidden xl:w-1/2 bg-gradient-to-br from-[#264653] to-[#2A9D8F] text-white px-20 xl:flex flex-col justify-center"
    >
      <h2 class="text-3xl font-bold">What Happens Next?</h2>
      <div class="relative space-y-16">
        <div
          class="z-0 absolute top-[100px] left-[40px] border-r-[2px] h-[280px] border-dashed border-white/20"
        ></div>
        <div class="flex items-start space-x-4">
          <div
            class="z-10 bg-white/10 rounded-full h-[80px] w-[80px] flex items-center justify-center"
          >
            <div
              class="bg-[#E76F51] shadow-xl rounded-full h-[60px] w-[60px] flex items-center justify-center"
            >
              <img
                src="../../assets/login_icon.svg"
                alt="Login Icon"
                class="h-[30px] w-[30px]"
              />
            </div>
          </div>
          <div class="flex flex-col space-y-[6px]">
            <h3 class="text-xl font-semibold">Login to your account</h3>
            <p class="text-white/80">
              Access your personalised dashboard by logging in
            </p>
          </div>
        </div>
        <div class="flex items-start space-x-4">
          <div
            class="z-10 bg-white/10 rounded-full h-[80px] w-[80px] flex items-center justify-center"
          >
            <div
              class="bg-white shadow-xl rounded-full h-[60px] w-[60px] flex items-center justify-center"
            >
              <img
                src="../../assets/download_icon.svg"
                alt="Login Icon"
                class="h-[30px] w-[30px]"
              />
            </div>
          </div>
          <div>
            <h3 class="text-xl font-semibold">
              Download previous purchased report
            </h3>
            <p class="text-white/80">
              Easily retrieve reports you’ve previously purchased
            </p>
          </div>
        </div>
        <div class="flex items-start space-x-4">
          <div
            class="z-10 bg-white/10 rounded-full h-[80px] w-[80px] flex items-center justify-center"
          >
            <div
              class="bg-white shadow-xl rounded-full h-[60px] w-[60px] flex items-center justify-center"
            >
              <img
                src="../../assets/report_icon.svg"
                alt="Login Icon"
                class="h-[30px] w-[30px]"
              />
            </div>
          </div>
          <div>
            <h3 class="text-xl font-semibold">Start building new reports</h3>
            <p class="text-white/80">
              Begin creating customized reports tailored to your needs
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="z-30 fixed inset-0 bg-gray-700 bg-opacity-75 px-2 lg:px-0 flex justify-center items-center"
  *ngIf="isForgotPasswordModalOpen"
>
  <div
    class="relative bg-white rounded-lg shadow-lg max-w-xl max-h-[600px] w-full py-6 px-4 md:px-12"
  >
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-[24px] font-semibold font-roboto mb-8 text-center w-full">
        Reset Password
      </h2>

      <lucide-icon
        (click)="closeForgotPasswordModal()"
        [img]="XIcon"
        class="h-6 w-6 absolute top-2 right-2 md:right-4 cursor-pointer text-black"
      ></lucide-icon>
    </div>

    <div class="flex flex-col mb-4 w-full">
      <form
        (ngSubmit)="sendPasswordResetLink()"
        class="w-full space-y-4 md:space-y-10"
      >
        <div class="">
          <div class="relative">
            <label
              for="email"
              class="block absolute -top-[14px] left-[14px] px-2 text-black bg-white font-medium"
              >Email Id</label
            >

            <div class="absolute inset-y-0 left-[20px] flex items-center">
              <img
                src="../../assets/user_icon.svg"
                alt="User Icon"
                class="h-[20px]"
              />
            </div>
            <input
              type="email"
              id="email"
              [(ngModel)]="secondEmail"
              name="email"
              placeholder="Enter your Email"
              class="w-full pl-[50px] pr-4 py-4 border border-gray-300 rounded-[10px] text-black placeholder-black/40 focus:outline-none focus:ring-2 focus:ring-[#2A9D8F]"
            />
          </div>
        </div>

        <div class="flex">
          <button
            [disabled]="isResetPasswordFormSubmit"
            type="submit"
            class="w-full disabled:opacity-50 disabled:cursor-not-allowe4 bg-[#2A9D8F] text-white font-normal py-3 rounded-lg hover:bg-[#2A9D8F]/90 transition duration-300"
          >
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
