<div class="h-[600px] xs:h-[400px] md:h-[600px] w-full bg-orange-gradient font-roboto">
  <div
    class="flex flex-col space-y-[50px] xs:space-y-[0px] md:space-y-[100px] max-w-[1440px] mx-auto px-[20px] md:px-[50px] py-[30px] md:py-[50px] tablet:px-[60px] xl:px-[20px]"
  >
    <div class="flex flex-col space-y-[10px]">
      <div class="text-[24px] md:text-[36px] text-white font-semibold font-roboto">
        Reports available in 3 easy steps
      </div>
      <div class="h-1 bg-[#264653] w-[100px] xs:hidden"></div>
    </div>

    <div class="flex tablet:justify-center w-full">
      <div class="relative flex items-center justify-between h-[300px] w-full md:w-[640px]">
        <div
          class="top-[80px] xs:top-[110px] left-[40px] xs:left-[60px] md:left-[100px] rounded-full -rotate-45 border-l-[1px] md:border-l-[2px] border-b-[1px] md:border-b-[2px] border-dashed h-[120px] w-[120px] xs:h-[110px] xs:w-[110px] md:h-[200px] md:w-[200px] absolute"
        ></div>
        <div
          class="top-[20px] xs:top-[60px] right-[40px] xs:right-[60px] md:right-[100px] rounded-full -rotate-45 border-r-[1px] md:border-r-[2px] border-t-[1px] md:border-t-[2px] border-dashed h-[120px] w-[120px] xs:h-[110px] xs:w-[110px] md:h-[200px] md:w-[200px] absolute"
        ></div>
  
        <div class="flex flex-col items-center space-y-2">
          <div
            class="group relative z-0 w-[120px] h-[120px] xs:h-[110px] xs:w-[110px] md:w-[200px] md:h-[200px] overflow-hidden bg-[url('/assets/step_1.webp')] bg-cover rounded-full bg-center"
          >
            <div
              class="bg-[#000000]/50 rounded-full h-full w-full absolute"
            ></div>
            <div
              class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in text-white w-full z-30 absolute bottom-[40px] md:bottom-[80px]"
            >
              <div
                class="items-center justify-center text-center text-[10px] md:text-[12px] font-light max-w-[120px] md:max-w-[150px] mx-auto"
              >
                Select the topic and package
              </div>
            </div>
            <div class="text-white w-full z-50 absolute bottom-2 md:bottom-4">
              <div
                class="flex items-center justify-center text-center text-[12px] md:text-[14px] font-medium max-w-[90px] mx-auto"
              >
                Select what you want
              </div>
            </div>
          </div>
          <div class="text-[20px] md:text-[30px] text-white font-semibold">01</div>
        </div>
  
        <div class="flex flex-col items-center space-y-2">
          <div class="text-[20px] md:text-[30px] text-white font-semibold">02</div>
          <div
            class="group relative w-[120px] h-[120px] xs:h-[110px] xs:w-[110px] md:w-[200px] md:h-[200px] bg-[url('/assets/step_3.webp')] bg-cover bg-center rounded-full overflow-hidden"
          >
            <div
              class="bg-[#000000]/60 rounded-full h-full w-full absolute"
            ></div>
            <div
              class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in text-white w-full z-30 absolute bottom-[40px] md:bottom-[80px]"
            >
              <div
                class="items-center justify-center text-center text-[10px] md:text-[12px] font-light max-w-[120px] md:max-w-[150px] mx-auto"
              >
                Pay with credit or debit card, Apple Pay, PayPal
              </div>
            </div>
            <div class="text-white w-full z-50 absolute bottom-3 md:bottom-6">
              <div
                class="flex items-center justify-center text-center text-[12px] md:text-[14px] font-medium max-w-[90px] mx-auto"
              >
                Purchase
              </div>
            </div>
          </div>
        </div>
  
        <div class="flex flex-col items-center space-y-2">
          <div
            class="group relative w-[120px] h-[120px] xs:h-[110px] xs:w-[110px] md:w-[200px] md:h-[200px] bg-[url('/assets/step_2.webp')] filter bg-cover bg-opacity-25 rounded-full"
          >
            <div
              class="bg-[#000000]/70 rounded-full h-full w-full absolute"
            ></div>
            <div
              class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in text-white w-full z-30 absolute top-[20px] md:top-[35px]"
            >
              <div
                class="items-center justify-center text-center text-[10px] md:text-[12px] xs:text-[8px] tablet:text-[12px] font-light max-w-[100px] md:max-w-[150px] mx-auto"
              >
                Download your report instantly, and have access to the
                comprehensive, up-to-date information you have chosen – right when
                you need it 
              </div>
            </div>
            <div class="text-white w-full z-50 absolute bottom-3 md:bottom-6">
              <div
                class="flex items-center justify-center text-center text-[12px] md:text-[14px] font-medium max-w-[90px] mx-auto"
              >
                Download
              </div>
            </div>
          </div>
          <div class="text-[20px] md:text-[30px] text-white font-semibold">03</div>
        </div>
      </div>
    </div>
  </div>
</div>
