<!-- Section 2  -->
<section class="w-full bg-[#F2F9F8]  font-roboto">
  <div
    class="flex flex-col space-y-[20px] max-w-[1440px] mx-auto px-[20px] md:px-[50px] tablet:px-[60px] lg:px-[100px] lg:px-[100px] py-[30px] md:py-[50px] tablet:py-[40px]"
  >
    <div class="">
      <div class="flex flex-col space-y-[5px]">
        <div class="text-[24px] md:text-[36px] tablet:text-[32px] text-black font-semibold font-roboto">
          Experience the power of data your way
        </div>
        <div class="h-1 bg-[#2A9D8F] w-[70px] md:w-[100px] tablet:w-[90px] xs:hidden"></div>
      </div>
      <div
        class="mt-[20px] md:mt-[30px] tablet:mt-[25px] text-[18px] md:text-[18px] tablet:text-[20px] font-normal text-[#000000]/60 max-w-[650px] tablet:max-w-[900px]"
      >
        Sign up for free today and start building data-driven reports and
        make smarter decision. Unlock a world of pharma market access &
        pricing information with customizable data reports covering 63
        countries.
      </div>

      <div
        class="mt-[20px] md:mt-[30px] tablet:mt-[25px] text-[24px] md:text-[24px] tablet:text-[32px] font-medium text-[#000000] max-w-[650px] tablet:max-w-[800px]"
      >
        Create customized reports tailored to your specific analytical
        needs
      </div>

      <div
        class="mt-[20px] md:mt-[30px] tablet:mt-[25px] text-[18px] md:text-[18px] tablet:text-[20px] font-normal text-[#000000]/60 max-w-[650px] tablet:max-w-[900px]"
      >
        Whether you're a market access & pricing director,
        researcher, business strategist, financial analyst, policy maker,
        early pipeline director, or in charge of business development &
        licensing, the report you need is waiting for you. 
      </div>
    </div>

    <div class="w-full">
      <div class="grid grid-cols-2 gap-4 md:gap-8 tablet:gap-12 max-w-[650px] tablet:max-w-full">
        <!-- Card 1 -->
        <div
          class="group cursor-pointer relative bg-[url('/assets/data_img_1.webp')] bg-contain overflow-hidden w-full md:w-[300px] tablet:w-[100%] h-[150px] md:h-[170px] tablet:h-[220px] odd:rounded-bl-[40px] md:odd:rounded-bl-[60px] tablet:odd:rounded-bl-[50px] odd:rounded-tr-[40px] md:odd:rounded-tr-[60px] tablet:odd:rounded-tr-[50px]"
          (mouseenter)="hoverCard(0)"
          (mouseleave)="hoverCard(null)"
          (click)="isMobileOrTabletView ? toggleCard(0) : null"
        >
          <!-- Initial Text Div -->
          <div class="bg-[#000000]/60 h-full w-full absolute"></div>
          <div
            class="absolute bottom-0 right-0 w-[200px] xs:w-[160px] md:w-[240px] tablet:w-[260px] flex justify-end pr-[10px] md:pr-[40px] tablet:pr-[30px] text-[18px] md:text-[20px] tablet:text-[22px] font-medium py-2 md:py-3 tablet:py-2.5 rounded-tl-[40px] md:rounded-tl-[60px] tablet:rounded-tl-[50px] bg-[#E76F51]/70 text-white"
            [ngClass]="{
              'opacity-0': openedCardIndex === 0 || hoveredCardIndex === 0,
              'opacity-100': openedCardIndex !== 0 && hoveredCardIndex !== 0
            }"
          >
            Easy to use
          </div>

          <!-- Hover Text Div -->
          <div
            class="flex flex-col justify-center pl-[20px] md:pl-[40px] tablet:pl-[30px] opacity-0 scale-[0.9] transition-all duration-300 ease-in bg-[#E76F51]/80 absolute top-0 left-0 w-full h-full space-y-2"
            [ngClass]="{
              'opacity-100 scale-[1]': openedCardIndex === 0,
              'opacity-0 scale-[0.9]': openedCardIndex !== 0,
              'group-hover:opacity-100 group-hover:scale-[1]': !isMobileOrTabletView
            }"
          >
            <div class="text-[18px] md:text-[20px] tablet:text-[22px] font-medium text-white">
              Easy to use
            </div>
            <div class="text-[18px] md:text-[18px] tablet:text-[18px] font-medium text-white max-w-[180px] md:max-w-[210px] tablet:max-w-[230px]">
              <ul class="list-disc pl-[20px]">
                <li class="">
                  Build reports without any technical expertise
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="group cursor-pointer relative bg-[url('/assets/data_img_2.webp')] bg-contain overflow-hidden w-full md:w-[300px] tablet:w-[100%] h-[150px] md:h-[170px] tablet:h-[220px] even:rounded-br-[40px] md:even:rounded-br-[60px] tablet:even:rounded-br-[50px] even:rounded-tl-[40px] md:even:rounded-tl-[60px] tablet:even:rounded-tl-[50px]"
          (mouseenter)="hoverCard(1)"
          (mouseleave)="hoverCard(null)"
          (click)="isMobileOrTabletView ? toggleCard(1) : null"
        >
          <!-- Initial Text Div -->
          <div class="bg-[#000000]/60 h-full w-full absolute"></div>
          <div
            class="absolute bottom-0 left-0 w-[200px] xs:w-[160px] md:w-[240px] tablet:w-[260px] flex pl-[10px] md:pl-[40px] tablet:pl-[30px] text-[18px] md:text-[20px] tablet:text-[22px] font-medium py-2 md:py-3 tablet:py-2.5 rounded-tr-[40px] md:rounded-tr-[60px] tablet:rounded-tr-[50px] bg-[#E76F51]/70 text-white"
            [ngClass]="{
              'opacity-0': openedCardIndex === 1 || hoveredCardIndex === 1,
              'opacity-100': openedCardIndex !== 1 && hoveredCardIndex !== 1
            }"
          >
            Quick Access
          </div>

          <!-- Hover Text Div -->
          <div
            class="flex flex-col justify-center pl-[20px] md:pl-[40px] tablet:pl-[30px] opacity-0 scale-[0.9] transition-all duration-300 ease-in bg-[#E76F51]/80 absolute top-0 left-0 w-full h-full space-y-2"
            [ngClass]="{
              'opacity-100 scale-[1]': openedCardIndex === 1,
              'opacity-0 scale-[0.9]': openedCardIndex !== 1,
              'group-hover:opacity-100 group-hover:scale-[1]': !isMobileOrTabletView
            }"
          >
            <div class="text-[18px] md:text-[20px] tablet:text-[22px] font-medium text-white">
              Quick Access
            </div>
            <div class="text-[18px] md:text-[18px] tablet:text-[18px] font-medium text-white max-w-[180px] md:max-w-[210px] tablet:max-w-[230px]">
              <ul class="list-disc pl-[20px]">
                <li class="">
                  Reports are available once payment has been received
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="group cursor-pointer relative bg-[url('/assets/data_img_3.webp')] bg-contain overflow-hidden w-full md:w-[300px] tablet:w-[100%] h-[150px] tablet:h-[220px] md:h-[170px] odd:rounded-bl-[40px] md:odd:rounded-bl-[60px] tablet:odd:rounded-bl-[50px] odd:rounded-tr-[40px] md:odd:rounded-tr-[60px] tablet:odd:rounded-tr-[50px]"
          (mouseenter)="hoverCard(2)"
          (mouseleave)="hoverCard(null)"
          (click)="isMobileOrTabletView ? toggleCard(2) : null"
        >
          <!-- Initial Text Div -->
          <div class="bg-[#000000]/60 h-full w-full absolute"></div>
          <div
            class="absolute xs:pl-[1rem] bottom-0 right-0 w-[200px] xs:w-[160px] md:w-[240px] tablet:w-[260px] flex justify-end pr-[10px] md:pr-[40px] tablet:pr-[30px] text-[18px] md:text-[20px] tablet:text-[22px] font-medium py-2 md:py-3 tablet:py-2.5 rounded-tl-[40px] md:rounded-tl-[60px] tablet:rounded-tl-[50px] bg-[#E76F51]/70 text-white"
            [ngClass]="{
              'opacity-0': openedCardIndex === 2 || hoveredCardIndex === 2,
              'opacity-100': openedCardIndex !== 2 && hoveredCardIndex !== 2
            }"
          >
            Fully customizable  
          </div>

          <!-- Hover Text Div -->
          <div
            class="flex flex-col justify-center pl-[20px] md:pl-[40px] tablet:pl-[30px] opacity-0 scale-[0.9] transition-all duration-300 ease-in bg-[#E76F51]/80 absolute top-0 left-0 w-full h-full space-y-2"
            [ngClass]="{
              'opacity-100 scale-[1]': openedCardIndex === 2,
              'opacity-0 scale-[0.9]': openedCardIndex !== 2,
              'group-hover:opacity-100 group-hover:scale-[1]': !isMobileOrTabletView
            }"
          >
            <div class="text-[18px] md:text-[20px] tablet:text-[22px] font-medium text-white">
              Fully customizable  
            </div>
            <div class="text-[18px] md:text-[18px] tablet:text-[18px] font-medium text-white max-w-[180px] md:max-w-[210px] tablet:max-w-[230px]">
              <ul class="list-disc pl-[20px]">
                <li class="">
                  Tailor your report to get the answers you need 
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div
          class="group  cursor-pointer relative bg-[url('/assets/data_img_4.webp')] bg-contain overflow-hidden w-full md:w-[300px] tablet:w-[100%] h-[150px] md:h-[170px] tablet:h-[220px] even:rounded-br-[40px] md:even:rounded-br-[60px] tablet:even:rounded-br-[50px] even:rounded-tl-[40px] md:even:rounded-tl-[60px] tablet:even:rounded-tl-[50px]"
          (mouseenter)="hoverCard(3)"
          (mouseleave)="hoverCard(null)"
          (click)="isMobileOrTabletView ? toggleCard(3) : null"
        >
          <!-- Initial Text Div -->
          <div class="bg-[#000000]/60 h-full w-full absolute"></div>
          <div
            class="absolute xs:pr-[2rem] bottom-0 left-0 w-[200px] xs:w-[160px] md:w-[240px] tablet:w-[260px] flex pl-[10px] md:pl-[40px] tablet:pl-[30px] text-[18px] md:text-[20px] tablet:text-[22px] font-medium py-2 md:py-3 tablet:py-2.5 rounded-tr-[40px] md:rounded-tr-[60px] tablet:rounded-tr-[50px] bg-[#E76F51]/70 text-white"
            [ngClass]="{
              'opacity-0': openedCardIndex === 3 || hoveredCardIndex === 3,
              'opacity-100': openedCardIndex !== 3 && hoveredCardIndex !== 3
            }"
          >
          Up-to-date data 
          </div>

          <!-- Hover Text Div -->
          <div
            class="flex flex-col justify-center pl-[20px] md:pl-[40px] tablet:pl-[30px] opacity-0 scale-[0.9] transition-all duration-300 ease-in bg-[#E76F51]/80 absolute top-0 left-0 w-full h-full space-y-2"
            [ngClass]="{
              'opacity-100 scale-[1]': openedCardIndex === 3,
              'opacity-0 scale-[0.9]': openedCardIndex !== 3,
              'group-hover:opacity-100 group-hover:scale-[1]': !isMobileOrTabletView
            }"
          >
            <div class="text-[18px] md:text-[20px] tablet:text-[22px] font-medium text-white">
              Up-to-date data 
            </div>
            <div class="text-[18px] md:text-[18px] tablet:text-[18px] font-medium text-white max-w-[180px] md:max-w-[210px] tablet:max-w-[230px]">
              <ul class="list-disc pl-[20px]">
                <li class="">
                  Current data to accurately inform your decision-making process 
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Card 5 -->
        <div
          class="group cursor-pointer relative bg-[url('/assets/data_img_5.webp')] bg-contain overflow-hidden w-full md:w-[300px] tablet:w-[100%] h-[150px] md:h-[170px] tablet:h-[220px] odd:rounded-bl-[40px] md:odd:rounded-bl-[60px] tablet:odd:rounded-bl-[50px] odd:rounded-tr-[40px] md:odd:rounded-tr-[60px] tablet:odd:rounded-tr-[50px]"
          (mouseenter)="hoverCard(4)"
          (mouseleave)="hoverCard(null)"
          (click)="isMobileOrTabletView ? toggleCard(4) : null"
        >
          <!-- Initial Text Div -->
          <div class="bg-[#000000]/60 h-full w-full absolute"></div>
          <div
          class="absolute xs:pl-[1rem] bottom-0 right-0 w-[200px] xs:w-[160px] md:w-[240px] tablet:w-[260px]  flex justify-end pr-[10px] md:pr-[40px] tablet:pr-[30px] text-[18px] md:text-[20px] tablet:text-[22px] font-medium py-2 md:py-3 tablet:py-2.5 rounded-tl-[40px] md:rounded-tl-[60px] tablet:rounded-tl-[50px] bg-[#E76F51]/70 text-white"
            [ngClass]="{
              'opacity-0': openedCardIndex === 4 || hoveredCardIndex === 4,
              'opacity-100': openedCardIndex !== 4 && hoveredCardIndex !== 4
            }"
          >
          Data you can trust 
          </div>

          <!-- Hover Text Div -->
          <div
            class="flex flex-col justify-center pl-[20px] md:pl-[40px] tablet:pl-[30px] opacity-0 scale-[0.9] transition-all duration-300 ease-in bg-[#E76F51]/80 absolute top-0 left-0 w-full h-full space-y-2"
            [ngClass]="{
              'opacity-100 scale-[1]': openedCardIndex === 4,
              'opacity-0 scale-[0.9]': openedCardIndex !== 4,
              'group-hover:opacity-100 group-hover:scale-[1]': !isMobileOrTabletView
            }"
          >
            <div class="text-[18px] md:text-[20px] tablet:text-[22px] font-medium text-white">
              Data you can trust 
            </div>
            <div class="text-[18px] md:text-[18px] tablet:text-[18px] font-medium text-white max-w-[180px] md:max-w-[210px] tablet:max-w-[230px]">
              <ul class="list-disc pl-[20px]">
                <li class="">
                  All data is from credible sources and verified 
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Card 6 -->
        <div
          class="group cursor-pointer relative bg-[url('/assets/data_img_6.webp')] bg-contain overflow-hidden  w-full md:w-[300px] tablet:w-[100%] h-[150px] md:h-[170px] tablet:h-[220px] even:rounded-br-[40px] md:even:rounded-br-[60px] tablet:even:rounded-br-[50px] even:rounded-tl-[40px] md:even:rounded-tl-[60px] tablet:even:rounded-tl-[50px]"
          (mouseenter)="hoverCard(5)"
          (mouseleave)="hoverCard(null)"
          (click)="isMobileOrTabletView ? toggleCard(5) : null"
        >
          <!-- Initial Text Div -->
          <div class="bg-[#000000]/60 h-full w-full absolute"></div>
          <div
            class="absolute bottom-0 left-0 w-[200px] xs:w-[160px] md:w-[240px] tablet:w-[260px] flex pl-[10px] md:pl-[40px] tablet:pl-[30px] text-[18px] md:text-[20px] tablet:text-[22px] font-medium py-2 md:py-3 tablet:py-2.5 rounded-tr-[40px] md:rounded-tr-[60px] tablet:rounded-tr-[50px] bg-[#E76F51]/70 text-white"
            [ngClass]="{
              'opacity-0': openedCardIndex === 5 || hoveredCardIndex === 5,
              'opacity-100': openedCardIndex !== 5 && hoveredCardIndex !== 5
            }"
          >
          Extensive coverage 
          </div>

          <!-- Hover Text Div -->
          <div
            class="flex flex-col justify-center pl-[20px] md:pl-[40px] tablet:pl-[30px] opacity-0 scale-[0.9] transition-all duration-300 ease-in bg-[#E76F51]/80 absolute top-0 left-0 w-full h-full space-y-2"
            [ngClass]="{
              'opacity-100 scale-[1]': openedCardIndex === 5,
              'opacity-0 scale-[0.9]': openedCardIndex !== 5,
              'group-hover:opacity-100 group-hover:scale-[1]': !isMobileOrTabletView
            }"
          >
            <div class="text-[18px] md:text-[20px] tablet:text-[22px] font-medium text-white">
              Extensive coverage 
            </div>
            <div class="text-[18px] md:text-[18px] tablet:text-[18px] font-medium text-white max-w-[180px] md:max-w-[210px] tablet:max-w-[230px]">
              <ul class="list-disc pl-[20px]">
                <li class="">
                  63 countries, 5 datasets, 101 datapoints
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
