<!-- Section 4  -->
<div
  id="packages"
  class="w-full relative bg-[url('/assets/bg_package_background.png')] bg-cover h-[900px] xs:h-[auto] tablet:h-[auto] md:h-[700px] font-roboto"
>
  <div
    class="absolute bg-gradient-to-b from-[#156082] to-[#264653] opacity-70 top-0 left-0 w-full h-[900px] xs:h-[100%] tablet:h-[100%] md:h-[700px]"
  ></div>
  <div
    class="flex flex-col space-y-[20px] max-w-[1440px] mx-auto px-[20px] md:px-[50px] py-[30px] md:py-[50px] tablet:px-[60px] lg:px-[100px]"
  >
    <div class="z-10 text-[24px] md:text-[36px] text-white font-semibold font-roboto">
      Explore our Packages
    </div>

    <div class="max-w-[680px] tablet:max-w-full grid grid-cols-2 gap-4 md:gap-8">
      <!-- Card 1  -->
      <div
        class="relative flex flex-col justify-between xs:min-h-[270px] bg-white shadow-package-card rounded-[10px] md:rounded-[20px] px-4 md:px-8 py-6 md:py-6"
      >
        <div class="flex flex-col">
          <div class="text-[14px] md:text-[16px] font-normal uppercase text-[#000000]/50">
            Basic Access
          </div>
          <p class="text-[20px] md:text-[30px] font-semibold text-[#000000]">US $249</p>
        </div>

        <div class="text-[10px] xs:text-[14px] md:text-[16px] font-normal text-[#000000]/60 mt-[2px]">
          For 1 *ATC code, indication or
          <div class="relative inline-block pl-[4px]">
            <span class="absolute top-[2px] -left-[2px] text-[8px] md:text-[12px]">#</span>MOA
          </div>
          across 7 key countries. Covers only: EU4, UK, USA & Japan
        </div>
        <div class="mt-[12px] md:mt-[16px]">
          <a
            routerLink="/signup"
            class="cursor-pointer text-white text-[16px] md:text-[18px] h-[30px] md:h-[40px] w-full flex items-center justify-center font-medium font-roboto rounded-[6px] bg-gradient-to-tr from-[#E76F51] to-[#F4A261]"
          >
            Select Plan
          </a>
        </div>
        <div
          class="absolute bottom-[3px] text-[10px] leading-[8px] md:text-[10px] font-normal text-[#000000]/80"
        >
          *Anatomical Therapeutic Chemical,
          <span class="text-[10px] md:text-[10px]">#</span>Mechanism of Action
        </div>
      </div>
      <!-- Card 2  -->
      <div
        class="relative flex flex-col justify-between xs:min-h-[270px] bg-white shadow-package-card rounded-[10px] md:rounded-[20px] px-4 md:px-8 py-6 md:py-6"
      >
        <div
          class="ribbon ribbon-top-right absolute text-white text-center font-semibold"
        >
          <span class="py-2 flex items-center pl-[0px] md:pl-[20px] text-[10px] md:text-[12px] uppercase font-semibold"> Most Popular </span>
        </div>

        <div class="flex flex-col">
          <div class="text-[14px] md:text-[16px] font-normal uppercase text-[#000000]/50">
            Enhanced Access
          </div>
          <p class="text-[20px] md:text-[30px] font-semibold text-[#000000]">US $849</p>
        </div>

        <div class="text-[10px] xs:text-[14px] md:text-[16px] font-normal text-[#000000]/60 mt-[2px]">
          For 1 *ATC code, indication or
          <div class="relative inline-block pl-[4px]">
            <span class="absolute top-[2px] -left-[2px] text-[8px] md:text-[10px]">#</span>MOA
          </div>
          across 63 countries. Note: Only 31 countries available for market
          access.
        </div>
        <div class="mt-[12px] md:mt-[16px]">
          <a
            routerLink="/signup"
            class="cursor-pointer text-white text-[16px] md:text-[18px] h-[30px] md:h-[40px] w-full flex items-center justify-center font-medium font-roboto rounded-[6px] bg-gradient-to-tr from-[#E76F51] to-[#F4A261]"
          >
            Select Plan
          </a>
        </div>
        <div
          class="absolute bottom-[3px]  text-[10px] leading-[8px] md:text-[10px] font-normal text-[#000000]/80"
        >
          *Anatomical Therapeutic Chemical,
          <span class="text-[10px] md:text-[10px]">#</span>Mechanism of Action
        </div>
      </div>
      <!-- Card 3  -->
      <div
        class="relative flex flex-col justify-between xs:min-h-[270px] bg-white shadow-package-card rounded-[10px] md:rounded-[20px] px-4 md:px-8 py-3 md:py-6"
      >
        <div class="flex flex-col">
          <div class="text-[14px] md:text-[16px] font-normal uppercase text-[#000000]/50">
            Custom Report
          </div>
          <p class="text-[20px] md:text-[30px] font-semibold text-[#000000]">US $3999</p>
        </div>

        <div class="text-[14px] xs:text-[14px] md:text-[16px] font-normal text-[#000000]/60 mt-[10px]">
          One-time custom report comparing pricing, regulatory approval,
    
          HTA
        
          decisions and dosing for 3-5 drugs.
        </div>
        <div class="mt-[12px] md:mt-[16px]">
          <a
            routerLink="/signup"
            class="cursor-pointer text-white text-[16px] md:text-[18px] h-[30px] md:h-[40px] w-full flex items-center justify-center font-medium font-roboto rounded-[6px] bg-gradient-to-tr from-[#E76F51] to-[#F4A261]"
          >
            Talk to Team
          </a>
        </div>
        
      </div>

      <!-- Card 4  -->
      <div
        class="relative flex flex-col xs:min-h-[270px] bg-white shadow-package-card rounded-[10px] md:rounded-[20px] px-4 md:px-8 py-3 md:py-6"
      >
        <div class="flex flex-col">
          <div class="text-[14px] md:text-[16px] font-normal uppercase text-[#000000]/50">
            Consultation
          </div>
          <p class="text-[20px] md:text-[30px] font-semibold text-[#000000]">US $299</p>
        </div>

        <div class=" flex flex-1 flex-col justify-between">
          <div class="text-[14px] xs:text-[14px] md:text-[16px] font-normal text-[#000000]/60 mt-[10px]">
            One hour virtual consultation with an expert on
           
              HTA
            decisions, drug pricing or dosing.
          </div>
          <div class="mt-[12px] md:mt-[16px]">
            <a
              routerLink="/signup"
              class="cursor-pointer text-white text-[16px] md:text-[18px] h-[30px] md:h-[40px] w-full flex items-center justify-center font-medium font-roboto rounded-[6px] bg-gradient-to-tr from-[#E76F51] to-[#F4A261]"
            >
              Talk to Team
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- Section 5  -->
<div class="w-full bg-[#ffffff] font-roboto h-auto py-8 md:py-0">
  <div
    class="flex flex-col space-y-[20px] max-w-[1440px] mx-auto px-[20px] lg:px-[100px] md:px-[50px] py-[30px] md:py-[50px]"
  >
    <div class="max-w-[650px] tablet:max-w-full">
      <div class="flex flex-col space-y-[5px]">
        <div
          class="text-[24px] md:text-[36px] leading-[30px] md:leading-[45px] text-black font-semibold font-roboto"
        >
          Drive growth and success with pricing and market access data   
        </div>
      </div>
      <div
        class="mt-[20px] md:mt-[30px] text-[12px] xs:text-[18px] md:text-[18px] font-normal text-[#000000]/60 max-w-[650px]"
      >
        Gain critical market access and pricing insights to fuel growth,
        optimize strategies, and unlock new opportunities for success 
      </div>

      <div class="mt-[20px] md:mt-[30px] grid grid-cols-3 gap-2 md:gap-x-4">
        <div
          class="bg-white min-w-[80px] md:min-w-[200px] rounded-[8px] shadow-package-card overflow-hidden"
        >
          <div
            class="h-[80px] md:h-[100px] bg-[url('/assets/package_1.webp')] bg-cover"
          ></div>
          <div class="flex flex-col py-2 md:py-4 px-3 md:px-6">
            <p class="text-[12px] xs:text-[18px] md:text-[20px] font-semibold text-[#000000]/90">Accuracy</p>
            <p class="text-[10px] xs:text-[16px] md:text-[18px] font-normal text-[#000000]/60 max-w-[120px]">
              Have confidence in your data
            </p>
          </div>
        </div>
        <div
          class="bg-white min-w-[80px] md:min-w-[200px] rounded-[8px] shadow-package-card overflow-hidden"
        >
          <div
            class="h-[80px] md:h-[100px] bg-[url('/assets/package_2.webp')] bg-cover"
          ></div>
          <div class="flex flex-col py-2 md:py-4 px-3 md:px-6">
            <p class="text-[12px] xs:text-[18px] md:text-[20px] font-semibold text-[#000000]/90">Relevance</p>
            <p class="text-[10px] xs:text-[16px] md:text-[18px] font-normal text-[#000000]/60">
              Focus on the datapoints that you really need 
            </p>
          </div>
        </div>
        <div
          class="bg-white min-w-[80px] md:min-w-[200px] rounded-[8px] shadow-package-card overflow-hidden"
        >
          <div
            class="h-[80px] md:h-[100px] bg-[url('/assets/package_3.webp')] bg-cover"
          ></div>
          <div class="flex flex-col py-2 md:py-4 px-3 md:px-6">
            <p class="text-[12px] xs:text-[18px] md:text-[20px] font-semibold text-[#000000]/90">Speed</p>
            <p class="text-[10px] xs:text-[16px] md:text-[18px] font-normal text-[#000000]/60">
              Receive your data in a few simple clicks 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>